#canvasCont {
    position: absolute;
}

#board {
    z-index: 100;
    position:absolute;
    left:0px;
    top:0px;
}

#gamearea {
    z-index: 200;
    position:absolute;
    left:0px;
    top:0px;
}
